<div class='container-fluid'>
  <div class='row'>
    <div class="col-md-12">
      <div class="panel panel-default" data-role="panel">
        <div class="panel-heading" (click)="isEntreesCollapsed = !isEntreesCollapsed">Entrees</div>
        <div class="panel-body" [collapse]="isEntreesCollapsed">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Description</th>
                <th></th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          <button type="button" class="btn add-item" data-item-type='entree'>Add Item</button>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="col-md-12">
      <div class="panel panel-default" data-role="panel">
        <div class="panel-heading" (click)="isVeggiesCollapsed = !isVeggiesCollapsed">Veggies</div>
        <div class="panel-body" [collapse]="isVeggiesCollapsed">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Description</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <button type="button" class="btn add-item" data-item-type='veggie'>Add Item</button>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="col-md-12">
      <div class="panel panel-default" data-role="panel">
        <div class="panel-heading" (click)="isTreatsCollapsed = !isTreatsCollapsed">Treats</div>
        <div class="panel-body" [collapse]="isTreatsCollapsed">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Description</th>
                <th></th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          <button type="button" class="btn add-item" data-item-type='treat'>Add Item</button>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="col-md-12">
      <div id="panel2" class="panel panel-default" data-role="panel">
        <div class="panel-heading" (click)="isJsonCollapsed = !isJsonCollapsed">JSON Menu</div>
        <div class="panel-body" [collapse]="isJsonCollapsed">
          <div class="form-group">
            <label class="control-label-left" for="json">JSON</label>
            <textarea id="json" type="textarea" rows="50" class="form-control"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>