<div class='container'>
  <form>
    <div class='form-group'>
      <input type='text' class='form-control' id='menuJson' name='menuJson' [(ngModel)]="menuUrl" value="{{menuUrl}}">
      <button type='button' class='btn btn-primary' (click)='loadMenu()'>Load Menu</button>
    </div>
  </form>
</div>
<div class='container' *ngIf="isReady">
  <div class="panel panel-default">
    <div class="panel-body">
      <tabset>
        <tab heading="Entrees">
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of menuData.entrees">
                <td *ngIf="!item.editing">
                  <i class="fa fa-pencil" aria-hidden="true" (click)="editItem(item)"></i>
                  <i class="fa fa-trash" aria-hidden="true" (click)="deleteItem(menuData.entrees, item)"></i>
                </td>
                <td *ngIf="item.editing">
                  <i class="fa fa-check" aria-hidden="true" (click)="confirmEditItem(menuData.entrees, item)"></i>
                  <i class="fa fa-ban" aria-hidden="true" (click)="cancelEditItem(item)"></i>
                </td>
                <td *ngIf="!item.editing">{{item.id}}</td>
                <td *ngIf="!item.editing">{{item.description}}</td>
                <td *ngIf="item.editing"><input type="text" class="form-control" [(ngModel)]="item.id" /></td>
                <td *ngIf="item.editing"><input type="text" class="form-control" [(ngModel)]="item.description" /></td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="btn" (click)="addNewEntree()">Add Item</button>
        </tab>
        <tab heading="Veggies">
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of menuData.veggies">
                <td *ngIf="!item.editing">
                  <i class="fa fa-pencil" aria-hidden="true" (click)="editItem(item)"></i>
                  <i class="fa fa-trash" aria-hidden="true" (click)="deleteItem(menuData.veggies, item)"></i>
                </td>
                <td *ngIf="item.editing">
                  <i class="fa fa-check" aria-hidden="true" (click)="confirmEditItem(menuData.veggies, item)"></i>
                  <i class="fa fa-ban" aria-hidden="true" (click)="cancelEditItem(item)"></i>
                </td>
                <td *ngIf="!item.editing">{{item.id}}</td>
                <td *ngIf="!item.editing">{{item.description}}</td>
                <td *ngIf="item.editing"><input type="text" class="form-control" [(ngModel)]="item.id" /></td>
                <td *ngIf="item.editing"><input type="text" class="form-control" [(ngModel)]="item.description" /></td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="btn" (click)="addNewVeggie()">Add Item</button>
        </tab>
        <tab heading="Treats">
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of menuData.treats">
                <td *ngIf="!item.editing">
                  <i class="fa fa-pencil" aria-hidden="true" (click)="editItem(item)"></i>
                  <i class="fa fa-trash" aria-hidden="true" (click)="deleteItem(menuData.treats, item)"></i>
                </td>
                <td *ngIf="item.editing">
                  <i class="fa fa-check" aria-hidden="true" (click)="confirmEditItem(menuData.treats, item)"></i>
                  <i class="fa fa-ban" aria-hidden="true" (click)="cancelEditItem(item)"></i>
                </td>
                <td *ngIf="!item.editing">{{item.id}}</td>
                <td *ngIf="!item.editing">{{item.description}}</td>
                <td *ngIf="item.editing"><input type="text" class="form-control" [(ngModel)]="item.id" /></td>
                <td *ngIf="item.editing"><input type="text" class="form-control" [(ngModel)]="item.description" /></td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="btn" (click)="addNewTreat()">Add Item</button>
        </tab>
      </tabset>
    </div>
  </div>
  <div class='row'>
    <div class="col-md-12">
      <div class="panel panel-default" data-role="panel">
        <div class="panel-heading" (click)="isDaysCollapsed = !isDaysCollapsed">Menu Days</div>
        <form>
          <div class="panel-body" [collapse]="isDaysCollapsed">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>Date</th>
                  <th>Entree</th>
                  <th>Veggie</th>
                  <th>Treat</th>
                </tr>
              </thead>
                <tbody>
                  <tr *ngFor="let date of menuData.dates">
                    <td *ngIf="!date.editing">
                      <i class="fa fa-pencil" aria-hidden="true" (click)="editDate(date)"></i>
                      <i class="fa fa-trash" aria-hidden="true" (click)="deleteDate(date)"></i>
                    </td>
                    <td *ngIf="date.editing">
                      <i class="fa fa-check" aria-hidden="true" (click)="confirmEditDate(date)"></i>
                      <i class="fa fa-ban" aria-hidden="true" (click)="cancelEditDate(date)"></i>
                    </td>
                    <td>
                      <span *ngIf="!date.editing || !date.allowEditDate">{{date.date}}</span>
                      <span *ngIf="date.editing && date.allowEditDate"><input type="text" class="form-control" [(ngModel)]="date.dateObj" id="entryDate" name="entryDate" bsDatepicker  ></span>
                    </td>
                    <td>
                      <span *ngIf="!date.editing">{{date.entree | menuItem:menuData.entrees}}</span>
                      <ng-select *ngIf="date.editing"
                        [multiple]="true"
                        [items]="menuData.entrees"
                        (data)="updateMenuDate($event, date.entreesObj)"
                        [active]="date.entrees ? date.entreesObj : undefined">
                      </ng-select>
                    </td>
                    <td>
                      <span *ngIf="!date.editing">{{date.veggie | menuItem:menuData.veggies}}</span>
                      <ng-select *ngIf="date.editing"
                        [multiple]="false"
                        [items]="menuData.veggies"
                        (data)="updateMenuDate($event, date.veggieObj)"
                        [active]="date.veggie ? [ date.veggieObj ] : undefined">
                      </ng-select>
                    </td>
                    <td>
                      <span *ngIf="!date.editing">{{date.treat | menuItem:menuData.treats}}</span>
                      <ng-select *ngIf="date.editing"
                        [multiple]="false"
                        [items]="menuData.treats"
                        (data)="updateMenuDate($event, date.treatObj)"
                        [active]="date.treat ? [ date.treatObj ] : undefined">
                      </ng-select>
                    </td>
                  </tr>
              </tbody>
            </table>
            <button type="button" class="btn" (click)="addNewMenuDate()">Add Date</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="col-md-12">
      <div class="panel panel-default" data-role="panel">
        <div class="panel-heading">JSON Menu &nbsp;
          <i class="fa fa-clipboard" aria-hidden="true" ngxClipboard [cbContent]="menuData.getMenuJson()" (cbOnSuccess)="copySuccess()"></i>
          <i class="fa" [ngClass]="{'fa-expand': isJsonCollapsed, 'fa-compress': !isJsonCollapsed }" aria-hidden="true" (click)="isJsonCollapsed = !isJsonCollapsed"></i>
          <div *ngFor="let alert of alerts">
              <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
          </div>          
        </div>
        <div class="panel-body" [collapse]="isJsonCollapsed">
          <div class="form-group">
            <label class="control-label-left" for="json">JSON</label>
            <textarea id="json" type="textarea" rows="50" class="form-control">{{menuData.getMenuJson()}}</textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
